name: ci

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  c-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: make build

      - name: Test
        run: make test
